{% block foot %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 mt-3">
                    <ul>
                        <li class="footer-title">JMSON Mini Blog</li>
                        <li>Posting blog practice</li>
                        <li>That's alright!</li>
                    </ul>
                </div>
                <div class="col-sm-5 offset-2 mt-3">
                    <ul>
                        <li class="footer-title">Contact US</li>
                        <li>xxxx@gmail.com</li>
                        <li>###-####-####</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </footer>
{% endblock %}